@font-face {
    font-family: AngeliqueRose;
    src: url("/font/angelique-rose.woff") format("woff");
}

canvas {
    /*display: flex;*/
    font-family: AngeliqueRose, cursive;
    padding: 0;
    margin: auto;
}